<div class="js--toggle-aside-content has-aside">
  {{>config/header/_header3 class="is-fixed-top"}}
  <div class="container is-fluid">
    <div class="is-page-centered" style="height: calc(100vh - 200px);">
      {{#each nodeItems}}
        {{#each this.values}}
          {{>bulma/components/node/node}}
        {{/each}}
      {{/each}}
    </div>
  </div>
  {{>config/footer/_footer}}
</div>

<div class="flex-column is-fixed is-top is-right is-hidden-mobile js--toggle-aside">
  <aside class="is-sticky p-5 has-shadow">
    {{>config/components/panel/_panel-tree}}
  </aside>
</div>
