<div class="navbar-item pl-0">
  <span class="icon js--toggle-aside-button is-medium has-text-opacity-40 is-clickable
    has-tooltip-arrow has-tooltip-right" data-tooltip="Hide menu">
    <i class="icon-menu-open is-size-4"
      aria-hidden="true"></i>
  </span>
</div>