<nav class="navbar is-transparent is-fixed-bottom" aria-label="map navigation">
  <div class="container is-fluid">
    <div class="navbar-end">
      {{#>bulma/elements/buttons/button-addons}}
        {{>config/footer/items/preview-box}}
        {{>config/footer/items/shortcut}}
        {{>config/footer/items/slider}}
        {{>config/footer/items/percent}}
      {{/bulma/elements/buttons/button-addons}}
    </div>
  </div>
</nav>
