<div class="dropdown-trigger" id="{{id-trigger}}">
     <button class="button {{this.button}}" {{#if this.aria-haspopup}} aria-haspopup="{{this.aria-haspopup}}" {{/if}} {{#if this.aria-controls}} aria-controls="{{this.aria-controls}}" {{/if}}>
      {{>@partial-block}}
    </button>
</div>