{{#>bulma/components/panel/items/heading-extended heading=(replace "has-text-weight-medium is-size-6 is-transparent is-clickable is-hoverable--lighter has-border-top-width-2 has-border-top-### p-0" "###" color)}}
  <span onclick="expandWithId(event,'{{expandId}}',false)" class="is-block px-4 py-3 ">
  {{headingText}}
  </span>
{{/bulma/components/panel/items/heading-extended}}
