{{>config/components/panel/items/icon-caret}}
<span class="is-clickable ml-1">
  {{>config/components/panel/items/icon-type}}
  <span>{{this.name}}</span>
</span>
<span class="tag is-small ml-auto">{{this.type}}</span>
