<div class="columns">
  <div class="column is-2">
    ${require('../../../portal/cards/_screen.html')}
  </div>
  <div class="column is-2">
    ${require('../../../portal/cards/_screen-new.html')}
  </div>
</div>
<div class="columns">
  <div class="column is-narrow">
    ${require('../../../portal/cards/small/_screen.html')}
  </div>
  <div class="column is-narrow">
    ${require('../../../portal/cards/small/_screen-active.html')}
  </div>
  <div class="column is-narrow">
    ${require('../../../portal/cards/small/_screen-new.html')}
  </div>
</div>
