<div class="columns">
  <div class="column">
    <nav class="panel is-full-height">
      <p class="panel-heading">Microservices</p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Search">
          <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <a class="panel-block">
        <figure class="image is-24x24 has-text-centered mr-4">
          <i class="fas fa-lg fa-map has-text-grey" aria-hidden="true"></i>
        </figure>
        <div>
          <h5 class="has-text-weight-semibold">Mapping service</h5>
          <small class="is-size-7 is-block has-text-grey">Fusce pretium ante sed sollicitudin pharetra.</small>
        </div>
        <div class="ml-auto">
          Off
          <span class="icon">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
      <a class="panel-block">
        <figure class="image is-24x24 has-text-centered mr-4">
          <img src="/images/logo/grafana/symbol--coloured.svg" alt="">
        </figure>
        <div>
          <h5 class="has-text-weight-semibold">Grafana</h5>
          <small class="is-size-7 is-block has-text-grey">Lorem ipsum dolor sit amet</small>
        </div>
        <div class="ml-auto">
          <span class="icon">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
      <a class="panel-block">
        <figure class="image is-24x24 has-text-centered mr-4">
          <i class="fas fa-lg fa-life-ring has-text-grey" aria-hidden="true"></i>
        </figure>
        <div>
          <h5 class="has-text-weight-semibold">Helper Service</h5>
          <small class="is-size-7 is-block has-text-grey">Sed consectetur semper enim vel tincidunt</small>
        </div>
        <div class="ml-auto">
          <span class="icon">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
      <a class="panel-block">
        <figure class="image is-24x24 has-text-centered mr-4">
          <i class="fas fa-lg fa-cog has-text-grey" aria-hidden="true"></i>
        </figure>
        <div>
          <h5 class="has-text-weight-semibold">Data Engineering</h5>
          <small class="is-size-7 is-block has-text-grey">Etiam quis neque massa</small>
        </div>
        <div class="ml-auto">
          11231-51dsfs-123124
          <span class="icon">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </nav>
  </div>
  <div class="column">
    <nav class="panel is-full-height">
      <p class="panel-heading">Microservices</p>
      <form>
        <div class="panel-block">
          <a class="justify-center">
            <span class="icon">
              <i class="fas fa-angle-left" aria-hidden="true"></i>
            </span>
            Back
          </a>
          <div class="m-auto">
            <figure class="image is-24x24 has-text-centered mr-4 is-inline">
              <i class="fas fa-lg fa-cog has-text-grey" aria-hidden="true"></i>
            </figure>
            <h5 class="has-text-weight-semibold is-inline">Data Engineering</h5>
          </div>
          <button class="button is-link">Save</button>
        </div>

        <div class="py-5 px-5">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">License</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Enter your license key">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">License</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" value="11231-51dsfs-123124">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                  <span class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">License</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-danger" type="text" value="11231-51dsfs-123127">
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                  <span class="icon is-small is-right has-text-danger">
                    <i class="fas fa-times"></i>
                  </span>
                </div>
                <p class="help is-danger">The license key is invalid.</p>
              </div>
            </div>
          </div>

        </div>
      </form>
    </nav>
  </div>
</div>
