<div class="navbar-tabs">
  <div class="navbar-item is-clickable">
    <a href="/bulma">
      <i class="icon-bulma" aria-hidden="true"></i>
      <span class="is-size-7 is-hidden-mobile">Bulma</span>
    </a>
  </div>
  <div class="navbar-item is-clickable">
    <a href="/config">
      <i class="icon-map" aria-hidden="true"></i>
      <span class="is-size-7 is-hidden-mobile">Config</span>
    </a>
  </div>
  <div class="navbar-item is-clickable">
    <a href="/pview">
      <i class="icon-pview" aria-hidden="true"></i>
      <span class="is-size-7 is-hidden-mobile">PView</span>
    </a>
  </div>
  <div class="navbar-item is-clickable">
    <a href="/scatec">
      <i class="" aria-hidden="true"></i>
      <span class="is-size-7 is-hidden-mobile">Scatec</span>
    </a>
  </div>
</div>
