<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{pageTitle}}</title>
  <style>
    @import "/css/branding/prediktor/prediktor-dark.css" (prefers-color-scheme: dark);
    @import "/css/branding/prediktor/prediktor-light.css" (prefers-color-scheme: no-preference), (prefers-color-scheme: light);
  </style>
</head>

<body class="as-browser has-navbar-fixed-top {{app}}">
  <header>
    {{>_commons/header/navbar}}
    {{>_commons/header/level-expanded}}
  </header>

  {{{body}}}

  <script src="/js/main.js"></script>
</body>
</html>
