{{>pview/quickview/components/modal}}
{{>pview/quickview/_quickview}}

<div class="flex-column is-fixed is-top is-hidden-mobile js--toggle-aside">
</div>

<div class="js--toggle-aside-content has-aside pb-5">
  <div class="container is-fluid is-flex">
    {{>pview/quickview/quickview-button}}
  </div>
  <div class="container is-fluid">
  </div>
</div>