<p>If you're not familiar with Bulma, please find the docs <a href="https://bulma.io/documentation" target="_blank">here</a>. Bulma is a framework for CSS. This work extends this with Prediktor styling.</p>
<h3 id="including" class="subtitle">Including it in your project</h3>
<p>You need to download the files either for css or sass. If you want the sass-files; please find them in the original repo. The css files will include the whole bulma css library. The easiest way of adding them is as follows:</p>
<ol>
  <li>In your publically available assets, make sure you have three folders: <code>images</code>, <code>css</code> and <code>fonts</code>.</li>
  <li>Copy the css files related to the branding of your project from the <code>css</code> folder and the relevant branding subfolder.
    <ul>
      <li>Prediktor dark mode file: <a href="/css/branding/prediktor/prediktor-dark.css">css/branding/prediktor/prediktor-dark.css</a></li>
      <li>Prediktor light mode file: <a href="/css/branding/prediktor/prediktor-light.css">css/branding/prediktor/prediktor-light.css</a></li>
      <li>Prediktor print file: <a href="/css/branding/prediktor/prediktor-print.css">css/branding/prediktor/prediktor-print.css</a></li>
    </ul>
  </li>
  <li>Add a link to the css in the header of your html for example: <code>&lt;link rel="stylesheet" href="/css/branding/prediktor/prediktor-dark.css" /&gt;</code></li>
</ol>
<p>We use <a href="https://fontawesome.com/icons?d=gallery" target="_blank">FontAwesome</a>, <a href="https://marella.me/material-icons/demo/" target="_blank">Material Icons</a> and <a href="http://localhost:3005/bulma/elements#icon" target="_blank">Custom Icons</a></p>