<h3 class="subtitle">Logo</h3>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th class="has-text-centered">Main Logo</th>
      <th class="has-text-centered">One-line</th>
      <th class="has-text-centered">Stacked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="pt-5">Regular</td>
      <td>
        <div class="pt-5 has-text-centered">
          <a href="/images/logo/prediktor/main.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/main.svg" alt="Main Logo" width="177" height="27" />
          </a>
        </div>
      </td>
      <td>
        <div class="pt-5 has-text-centered">
          <a href="/images/logo/prediktor/one-line.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/one-line.svg" alt="One-line" width="177" height="27" />
          </a>
        </div>
      </td>
      <td>
        <div class="pt-5 has-text-centered">
          <a href="/images/logo/prediktor/stacked.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/stacked.svg" alt="Stacked" width="100" height="133" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="pt-5">Negative</td>
      <td>
        <div class="has-background-black has-text-centered py-5">
          <a href="/images/logo/prediktor/main--negative.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/main--negative.svg" alt="Main Logo Inverted" width="177" height="27" />
          </a>
        </div>
      </td>
      <td>
        <div class="has-background-black has-text-centered py-5">
          <a href="/images/logo/prediktor/one-line--negative.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/one-line--negative.svg" alt="One-line Inverted" width="177" height="27" />
          </a>
        </div>
      </td>
      <td>
        <div class="has-background-black has-text-centered py-5">
          <a href="/images/logo/prediktor/stacked--negative.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/stacked--negative.svg" alt="Stacked Inverted" width="100" height="133" />
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="pt-5">Positive</td>
      <td>
        <div class="has-background-white has-text-centered py-5">
          <a href="/images/logo/prediktor/main--positive.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/main--positive.svg" alt="Main Logo Positive" width="177" height="27" />
          </a>
        </div>
      </td>
      <td>
        <div class="has-background-white has-text-centered py-5">
          <a href="/images/logo/prediktor/one-line--positive.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/one-line--positive.svg" alt="One-line Positive" width="177" height="27" />
          </a>
        </div>
      </td>
      <td>
        <div class="has-background-white has-text-centered py-5">
          <a href="/images/logo/prediktor/stacked--positive.svg" class="is-borderless" target="_blank">
            <img src="/images/logo/prediktor/stacked--positive.svg" alt="Stacked Positive" width="100" height="133" />
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
