<div class="column is-6">
  <h3 class="is-size-4 mb-4">{{this.title}}</h3>
  <div class="{{this.mode}} has-background-default pb-6 mb-4">
    <p class="mb-4"><code>In <span class="is-uppercase">{{this.mode}}</span> mode:<br />{{this.documentation}}</code></p>
    {{>bulma/components/node/node}}
  </div>
</div>