<div class="modal modal-fx-fadeInScale" id="planModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5 has-text-weight-semibold">
        Chart
      </p>
    </header>
    <div class="modal-card-body p-0">
      <div class="card-content" style="height: calc(100% - 42px);">
        <div class="chart is-large">
          <h4 class="flex-column is-full-height justify-center has-text-centered has-text-opacity-40 py-4">
            Here comes the chart
          </h4>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>