<table class="table is-bordered has-light-mode">
  <thead>
    <tr>
      <th>
        Background Class
      </th>
      <th>
        Color
      </th>
      <th>
        Text Class
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-border-bottom-width-1 has-border-bottom-opacity-20">
        <code>
          has-background-white
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-white"></span>
      </td>
      <td class="has-text-white">
        has-text-white
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-black
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-dark"></span>
      </td>
      <td class="has-text-black">
        has-text-black
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-light
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-light"></span>
      </td>
      <td class="has-text-light">
        has-text-light
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-dark
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-dark"></span>
      </td>
      <td class="has-text-dark">
        has-text-dark
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-primary
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-primary"></span>
      </td>
      <td class="has-text-primary">
        has-text-primary
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-primary-light
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-primary-light"></span>
      </td>
      <td class="has-text-primary-light">
        has-text-primary-light
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-primary-lighter
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-primary-lighter"></span>
      </td>
      <td class="has-text-primary-lighter">
        has-text-primary-lighter
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-primary-lightest
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-primary-lightest"></span>
      </td>
      <td class="has-text-primary-lightest">
        has-text-primary-lightest
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-info
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-info"></span>
      </td>
      <td class="has-text-info">
        has-text-info
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-link
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-link"></span>
      </td>
      <td class="has-text-link">
        has-text-link
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-success
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-success"></span>
      </td>
      <td class="has-text-success">
        has-text-success
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-warning
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-warning"></span>
      </td>
      <td class="has-text-warning">
        has-text-warning
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-danger
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-danger"></span>
      </td>
      <td class="has-text-danger">
        has-text-danger
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-black-bis
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-black-bis"></span>
      </td>
      <td class="has-text-black-bis">
        has-text-black-bis
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-black-ter
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-black-ter"></span>
      </td>
      <td class="has-text-black-ter">
        has-text-black-ter
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-grey-darker
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-grey-darker"></span>
      </td>
      <td class="has-text-grey-darker">
        has-text-grey-darker
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-grey-dark
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-grey-dark"></span>
      </td>
      <td class="has-text-grey-dark">
        has-text-grey-dark
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-grey
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-grey"></span>
      </td>
      <td class="has-text-grey">
        has-text-grey
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-grey-light
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-grey-light"></span>
      </td>
      <td class="has-text-grey-light">
        has-text-grey-light
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-grey-lighter
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-grey-lighter"></span>
      </td>
      <td class="has-text-grey-lighter">
        has-text-grey-lighter
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-white-ter
        </code>
      </td>
      <td>
        <span class="image is-3by1 has-background-white-ter"></span>
      </td>
      <td class="has-text-white-ter">
        has-text-white-ter
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-5
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-5"></span>
      </td>
      <td class="has-text-opacity-5">
        has-text-opacity-5
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-10
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-10"></span>
      </td>
      <td class="has-text-opacity-10">
        has-text-opacity-10
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-20
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-20"></span>
      </td>
      <td class="has-text-opacity-20">
        has-text-opacity-20
      </td>
    </tr>
       <tr>
      <td>
        <code>
          has-background-opacity-30
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-30"></span>
      </td>
      <td class="has-text-opacity-30">
        has-text-opacity-30
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-40
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-40"></span>
      </td>
      <td class="has-text-opacity-40">
        has-text-opacity-40
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-50
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-50"></span>
      </td>
      <td class="has-text-opacity-50">
        has-text-opacity-50
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-60
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-60"></span>
      </td>
      <td class="has-text-opacity-60">
        has-text-opacity-60
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-70
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-70"></span>
      </td>
      <td class="has-text-opacity-70">
        has-text-opacity-70
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-80
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-80"></span>
      </td>
      <td class="has-text-opacity-80">
        has-text-opacity-80
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-opacity-90
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-opacity-90"></span>
      </td>
      <td class="has-text-opacity-90">
        has-text-opacity-90
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-gradient-left-primary
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-gradient-left-primary"></span>
      </td>
      <td class=""></td>
    </tr>
    <tr>
      <td>
        <code>
          has-gradient-left-opacity
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-gradient-left-opacity"></span>
      </td>
      <td class=""></td>
    </tr>
    <tr>
      <td>
        <code>
          has-gradient-right-opacity
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-gradient-right-opacity"></span>
      </td>
      <td class=""></td>
    </tr>
    <tr>
      <td>
        <code>
          is-transparent
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 is-transparent"></span>
      </td>
      <td class="">
        --
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-text-crazy
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        --
      </td>
      <td class="has-text-crazy">
        has-text-crazy
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-stripes
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-stripes"></span>
      </td>
      <td>
        --
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-stripes--part
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span
          class="image is-3by1 has-background-stripes has-background-stripes--part"
        ></span>
      </td>
      <td>
        --
      </td>
    </tr>

    <tr>
      <td>
        <code>
          has-background-blurred
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-blurred"></span>
      </td>
      <td>
        --
      </td>
    </tr>
    <tr>
      <td>
        <code>
          has-background-default
        </code>
        <span
          class="has-text-danger has-text-vcentered is-size-7 ml-1 has-tooltip-arrow icon"
          data-tooltip="homemade class"
        >
          <i class="fas fa-asterisk"></i>
        </span>
      </td>
      <td>
        <span class="image is-3by1 has-background-default"></span>
      </td>
      <td>
        --
      </td>
    </tr>
  </tbody>
</table>