<div class="tabs is-sticky is-top is-full-width has-z-index-1 mb-0">
  <ul>
    <li class="is-active tab has-text-weight-medium" onclick="switchMenuTabPair(event,'js--switch-signals','js--switch-parameters')">
      <span class="is-clickable is-size-small">
        Signals
      </span>
    </li>
    <li class="tab has-text-weight-medium" onclick="switchMenuTabPair(event,'js--switch-parameters','js--switch-signals')">
      <span class="is-clickable is-size-small">
        Parameters
      </span>
    </li>
  </ul>
  <button class="delete is-transparent is-absolute is-top is-right m-2" data-dismiss="quickview"></button>
</div>