<div class="tabs is-toggle is-toggle-rounded is-centered is-sticky is-top has-z-index-1 m-0 py-3">
  <ul>
    <li class="tab is-active" onclick="openTab(event,'js--solar-site-parameters-tab')">
      <span class="is-clickable is-size-small">Solar site</span>
    </li>
    <li class="tab" onclick="openTab(event,'js--assets-parameters-tab')">
      <span class="is-clickable is-size-small">Asset</span>
    </li>
    <li class="tab" onclick="openTab(event,'js--device-parameters-tab')">
      <span class="is-clickable is-size-small">Device</span>
    </li>
  </ul>
</div>