<span>
  {{>bulma/elements/buttons/button-icon class="is-text is-small is-transparent" i="fas fa-minus"}}
  <span class="is-inline-block has-text-vcentered">
    <input class="slider is-fullwidth is-small is-circle m-0" step="1" min="0" max="100" value="50" type="range">
  </span>
  {{>bulma/elements/buttons/button-icon class="is-text is-small is-transparent" i="fas fa-plus"}}
</span>
