{{#>_commons/bulma}}
<section>
  <div class="divider">
    <h2 class="title is-capitalized mx-3">{{page}}</h2>
  </div>
  {{>bulma/components/dropdown/_dropdown}}
  {{>bulma/components/gauge/_gauge}}
  {{>bulma/components/node/_node}}
  {{>bulma/components/panel/_panel}}
</section>
{{/_commons/bulma}}
