{{#>_commons/bulma}}
<section>
  <div class="divider">
    <h2 class="title is-capitalized mx-3">{{page}}</h2>
  </div>
  {{>bulma/helpers/_position}}
  {{>bulma/helpers/_typography}}
  {{>bulma/helpers/_pointer}}
</section>
{{/_commons/bulma}}