<div id="js--switch-parameters" class="is-hidden">
  {{>pview/quickview/components/tabs/tabs-parameters}}
  <div id="js--solar-site-parameters-tab" class="content-tab">
    {{>pview/quickview/components/tabs/content/tab-solar-site}}
  </div>
  <div id="js--assets-parameters-tab" class="content-tab" style="display:none">
    {{>pview/quickview/components/tabs/content/tab-assets}}
  </div>
  <div id="js--device-parameters-tab" class="content-tab" style="display:none">
    {{>pview/quickview/components/tabs/content/tab-device}}
  </div>
</div>
