<aside class="menu">
  <a href="https://prediktor.no">
    <picture>
      <source
        srcset="./images/logo/prediktor/stacked--negative.svg"
        media="(prefers-color-scheme: dark)"
      />
      <source
        srcset="./images/logo/prediktor/stacked.svg"
        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
      />
      <img src="./images/logo/prediktor/stacked.svg" alt="" width="100" height="133" />
    </picture>
  </a>
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
