<!-- trigger button -->
<span class="button modal-button" data-target="modal-id">Open modal</span>
<!-- related modal with fx class "modal-fx-fadeInScale" -->
<div id="modal-id" class="modal modal-fx-fadeInScale" style="position: fixed; top: 3.6rem;">
    <div class="modal-background"></div>
    <div class="modal-content is-tiny">
          <!-- content -->
          <div class="card">
              <div class="card-image">
                  <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
                  </figure>
              </div>
              <div class="card-content">
                  <div class="media">
                      <div class="media-left">
                          <figure class="image is-48x48">
                              <img src="https://bulma.io/images/placeholders/48x48.png" alt="Placeholder image">
                          </figure>
                      </div>
                      <div class="media-content">
                          <p class="title is-4">John Doe</p>
                          <p class="subtitle is-6">@johndoe</p>
                      </div>
                  </div>

                  <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                      <a>@bulmaio</a>.
                      <a href="#">#css</a>
                      <a href="#">#responsive</a>
                      <br>
                      <time datetime="2018-03-16T12:30">12:30 PM - 16 Mar 2018</time>
                  </div>
              </div>
          </div>
          <!-- end content -->
        </div>
    <button class="modal-close is-large" aria-label="close" style="top: 3.6rem;"></button>
</div>


<a class="button is-dark modal-button" data-target="modal-bis" id="openImageModal">Launch image modal</a>
<div class="modal" id="imageModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<button class="button is-dark modal-button" data-target="modal-ter" aria-haspopup="true" id="openCardModal">
  Launch card modal
</button>
<div class="modal" id="cardModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" id="closeCardModal"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <h3 class="is-size-4">Modal body</h3>
      ${require('_card.html')}
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
