<nav class="navbar has-shadow has-background-blurred mb-5" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-start navbar-start--centered">
      <a class="navbar-item" href="">Home</a>
      <a class="navbar-item is-active" href="">Documentation</a>
      <a class="navbar-item" href="https://prediktor.no">
        <picture>
          <source
            srcset="./images/logo/prediktor/main--negative.svg"
            media="(prefers-color-scheme: dark)"
          />
          <source
            srcset="./images/logo/prediktor/main.svg"
            media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
          />
          <img class="is-flex" src="./images/logo/prediktor/main.svg" alt="" width="200" />
        </picture>
      </a>
      <a class="navbar-item" href="">Blog</a>
      <a class="navbar-item" href="">Contact Us</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark">
            Log in
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>


<nav class="navbar has-shadow has-background-blurred mb-5" aria-label="main navigation">
  <div id="navbarBasicExample1" class="navbar-menu">

    <div class="navbar-start navbar-start--centered">
      <a class="navbar-item" href="">Home</a>
      <a class="navbar-item is-active" href="">Documentation</a>
      <a class="navbar-item" href="https://prediktor.no">
        <picture>
          <source
            srcset="./images/logo/prediktor/stacked--negative.svg"
            media="(prefers-color-scheme: dark)"
          />
          <source
            srcset="./images/logo/prediktor/stacked.svg"
            media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
          />
          <img class="is-flex has-max-height-100" src="./images/logo/prediktor/stacked.svg" alt="" width="200" />
        </picture>
      </a>
      <a class="navbar-item" href="">Blog</a>
      <a class="navbar-item" href="">Contact Us</a>
    </div>

  </div>
</nav>

<nav class="navbar has-shadow has-background-blurred mb-5" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://prediktor.no">
      <picture>
        <source
          srcset="./images/logo/prediktor/one-line--negative.svg"
          media="(prefers-color-scheme: dark)"
        />
        <source
          srcset="./images/logo/prediktor/one-line.svg"
          media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
        />
        <img class="is-flex" src="./images/logo/prediktor/one-line.svg" alt="" width="150" />
      </picture>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample2" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item is-active">
        Documentation
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar has-shadow has-background-blurred mb-5" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://prediktor.no">
      <picture>
        <source
          srcset="./images/logo/prediktor/main--negative.svg"
          media="(prefers-color-scheme: dark)"
        />
        <source
          srcset="./images/logo/prediktor/main.svg"
          media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
        />
        <img class="is-flex has-max-height-100" src="./images/logo/prediktor/main.svg" alt="" width="120" />
      </picture>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample3" class="navbar-menu">
    <div class="navbar-start navbar-start--centered">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item is-active">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button">
              <span class="icon">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
              <span>Tweet</span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary">
              <span class="icon">
                <i class="fas fa-download" aria-hidden="true"></i>
              </span>
              <span>Download</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
