<nav class="tabs is-boxed is-fullwidth">
  <div class="container">
    <ul>
      <li class="tab is-active" onclick="openTab(event,'tab1-fullwidth')"><a>Pictures</a></li>
      <li class="tab" onclick="openTab(event,'tab2-fullwidth')"><a>Music</a></li>
      <li class="tab" onclick="openTab(event,'tab3-fullwidth')"><a>Videos</a></li>
      <li class="tab" onclick="openTab(event,'tab4-fullwidth')"><a>Documents</a></li>
    </ul>
  </div>
</nav>
<div class="section">
  <div id="tab1-fullwidth" class="content-tab">
    <div class="content">
      <h2>Pictures</h2>
      <p>Lorem ipsum dolor sit amet. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab2-fullwidth" class="content-tab" style="display:none">
    <div class="content">
      <h2>Music</h2>
      <p>Nullam tincidunt porttitor erat sed aliquam. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab3-fullwidth" class="content-tab" style="display:none">
    <div class="content">
      <h2>Videos</h2>
      <p>Vivamus nisl erat, sollicitudin a auctor non, tempus eget lacus. Phasellus magna neque, laoreet in vestibulum a, viverra a orci.</p>
    </div>
  </div>
  <div id="tab4-fullwidth" class="content-tab" style="display:none">
    <div class="content">
      <h2>Documents</h2>
      <p>Integer ultricies nisl id nulla <a href="#">scelerisque</a>, sed sodales nulla egestas. Phasellus rhoncus velit ex.</p>
    </div>
  </div>
</div>

<div class="tabs is-toggle is-toggle-rounded">
  <ul>
    <li class="tab is-active" onclick="openTab(event,'tab1-rounded')">
      <a>
        <span class="icon is-small">
          <i class="fas fa-image"></i></span>
        <span>Pictures</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab2-rounded')">
      <a>
        <span class="icon is-small">
          <i class="fas fa-music"></i></span>
        <span>Music</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab3-rounded')">
      <a>
        <span class="icon is-small">
          <i class="fas fa-film"></i></span>
        <span>Videos</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab4-rounded')">
      <a>
        <span class="icon is-small">
        <i class="fas fa-file-alt"></i></span>
        <span>Documents</span>
      </a>
    </li>
  </ul>
</div>
<div class="section">
  <div id="tab1-rounded" class="content-tab">
    <div class="content">
      <h2>Pictures</h2>
      <p>Lorem ipsum dolor sit amet. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab2-rounded" class="content-tab" style="display:none">
    <div class="content">
      <h2>Music</h2>
      <p>Nullam tincidunt porttitor erat sed aliquam. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab3-rounded" class="content-tab" style="display:none">
    <div class="content">
      <h2>Videos</h2>
      <p>Vivamus nisl erat, sollicitudin a auctor non, tempus eget lacus. Phasellus magna neque, laoreet in vestibulum a, viverra a orci.</p>
    </div>
  </div>
  <div id="tab4-rounded" class="content-tab" style="display:none">
    <div class="content">
      <h2>Documents</h2>
      <p>Integer ultricies nisl id nulla <a href="#">scelerisque</a>, sed sodales nulla egestas. Phasellus rhoncus velit ex.</p>
    </div>
  </div>
</div>

<div class="tabs is-centered is-boxed">
  <ul>
    <li class="tab is-active" onclick="openTab(event,'tab1')">
      <a>
        <span class="icon is-small">
          <i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Pictures</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab2')">
      <a>
        <span class="icon is-small">
          <i class="fas fa-music" aria-hidden="true"></i></span>
        <span>Music</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab3')">
      <a>
        <span class="icon is-small">
          <i class="fas fa-film" aria-hidden="true"></i></span>
        <span>Videos</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab4')">
      <a>
        <span class="icon is-small">
        <i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Documents</span>
      </a>
    </li>
  </ul>
</div>
<div class="section">
  <div id="tab1" class="content-tab">
    <div class="content">
      <h2>Pictures</h2>
      <p>Lorem ipsum dolor sit amet. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab2" class="content-tab" style="display:none">
    <div class="content">
      <h2>Music</h2>
      <p>Nullam tincidunt porttitor erat sed aliquam. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab3" class="content-tab" style="display:none">
    <div class="content">
      <h2>Videos</h2>
      <p>Vivamus nisl erat, sollicitudin a auctor non, tempus eget lacus. Phasellus magna neque, laoreet in vestibulum a, viverra a orci.</p>
    </div>
  </div>
  <div id="tab4" class="content-tab" style="display:none">
    <div class="content">
      <h2>Documents</h2>
      <p>Integer ultricies nisl id nulla <a href="#">scelerisque</a>, sed sodales nulla egestas. Phasellus rhoncus velit ex.</p>
    </div>
  </div>
</div>

<div class="tabs is-fullwidth">
  <ul>
    <li class="tab is-active" onclick="openTab(event,'tab1-left')">
      <a>
        <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
        <span>Left</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab2-up')">
      <a>
        <span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
        <span>Up</span>
      </a>
    </li>
    <li class="tab" onclick="openTab(event,'tab3-right')">
      <a>
        <span>Right</span>
        <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
      </a>
    </li>
  </ul>
</div>
<div class="section">
  <div id="tab1-left" class="content-tab">
    <div class="content">
      <h2>Left</h2>
      <p>Lorem ipsum dolor sit amet. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab2-up" class="content-tab" style="display:none">
    <div class="content">
      <h2>Up</h2>
      <p>Nullam tincidunt porttitor erat sed aliquam. In maximus, ipsum et <a href="#">elementum rhoncus</a>, purus risus aliquet libero, eu pellentesque purus massa ut nisi. </p>
    </div>
  </div>
  <div id="tab3-right" class="content-tab" style="display:none">
    <div class="content">
      <h2>Right</h2>
      <p>Vivamus nisl erat, sollicitudin a auctor non, tempus eget lacus. Phasellus magna neque, laoreet in vestibulum a, viverra a orci.</p>
    </div>
  </div>
</div>


<div class="section">
  <div class="card has-tabs">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="tab is-active">
            <span class="is-clickable py-3 px-4">Pictures</span>
          </li>
          <li class="tab">
            <span class="is-clickable py-3 px-4">Music</span>
          </li>
          <li class="tab">
            <span class="is-clickable py-3 px-4">Videos</span>
          </li>
          <li class="tab">
            <span class="is-clickable py-3 px-4">Documents</span>
          </li>
        </ul>
        <div class="p-4">
          <div id="tab1-left1" class="content-tab">
            <div class="content">
              <h2>Tabs with border on top</h2>
              <p>Add "has-tabs" on the parent</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
