<div id="quickviewPlant" class="flex-column is-hidden-mobile quickview is-fixed is-top">
 {{#>bulma/components/panel/panel class="is-radiusless is-transparent"}}
    {{>pview/quickview/components/tabs/tabs-quickview}}
    {{>pview/quickview/components/tabs/content/tab-signals}}
    {{>pview/quickview/components/tabs/content/tab-parameters}}
 {{/bulma/components/panel/panel}}
</div>
<div id="js--blur-quickview-background" data-dismiss="quickview"></div>

{{!-- <header class="quickview-header></header> --}}

{{!-- <div class="quickview-body">
  <div class="quickview-block"></div>
</div> --}}
<!--footer class="quickview-footer"></footer-->