<div class="navbar-item ml-auto pr-0">
  {{>bulma/elements/buttons/button-with-icon 
    class="is-rounded is-text" 
    data-show="quickview"
    data-target="quickviewPlant"
    icon="is-size-5"
    i="mi mi-signal-cellular-alt"
    aria-hidden="true"
    text="Signals"
  }}
</div>
