<div class="field">
  <p class="control has-icons-left">
    <input class="input is-normal is-rounded is-borderless" type="search" placeholder="Search">
    {{>bulma/elements/icons/icon icon="is-left" i="fas fa-search"}}
  </p>
</div>
