  <div class="is-flex is-align-items-center has-line-height-1">
	  <div class="has-gradient-right-opacity has-height-2 is-flex-grow-1"></div>
	  <span class="is-size-8 mx-2-touch mx-4-desktop ml-2-desktop mr-3-desktop pb-1">
      <small>{{dayText}}</small>
    </span>
  </div>