<h3 class="subtitle is-4">Masonry layout</h3>
<code>.masonry.is-5.is-4-widescreen.is-3-desktop.is-2-tablet.is-1-mobile</code>${require('../_mark.html')}
<div class="masonry is-5 is-4-widescreen is-3-desktop is-2-tablet is-1-mobile">
  <div class="card">
    ${require('items/_1.html')}
  </div>
  <div class="card">
    ${require('items/_1.html')}
  </div>
  <div class="card">
    ${require('items/_2.html')}
  </div>
  <div class="card">
    ${require('items/_1.html')}
  </div>
  <div class="card">
    ${require('items/_3.html')}
  </div>
  <div class="card">
    ${require('items/_2.html')}
  </div>
  <div class="card">
    ${require('items/_2.html')}
  </div>
  <div class="card">
    ${require('items/_2.html')}
  </div>
  <div class="card">
    ${require('items/_3.html')}
  </div>
</div>
