<h3 >
  <span class="has-text-weight-semibold is-size-5-desktop">
    {{#if value}}
      {{value}}
    {{else}}
      &quot;N/A&quot;
    {{/if}}
	</span>
  <span class="is-size-8">{{{uom}}}</span>
	<span class="is-block is-size-7 is-size-8-mobile">{{name}}</span>
</h3>