<!-- Node actions -->
<div class="actions is-inline-flex has-shadow has-background-default has-radius mb-3">
  {{>bulma/components/node/items/change}}
  {{>bulma/elements/buttons/button-icon class="is-small is-text has-tooltip-arrow" i="icon-outline" data-tooltip="Outline Info"}}
  {{>bulma/elements/buttons/button-icon class="is-small is-text has-tooltip-arrow" i="fas fa-trash" data-tooltip="Delete"}}
</div>
