{{>bulma/elements/buttons/button-with-icon class="is-light is-active is-justify-content-left has-line-height-1" icon="my-auto" i="icon-plant" textSpan="is-size-small" text="Plant"}}
{{>bulma/elements/buttons/button-with-icon class="is-light is-justify-content-left has-line-height-1" icon="my-auto" i="icon-inverter" textSpan="is-size-small" text="Inverter"}}
{{>bulma/elements/buttons/button-with-icon class="is-light is-justify-content-left has-line-height-1" icon="my-auto" i="icon-string" textSpan="is-size-small" text="String"}}
{{>bulma/elements/buttons/button-with-icon class="is-light is-justify-content-left has-line-height-1" icon="my-auto" i="icon-grid" textSpan="is-size-small" text="Grid"}}


<!-- <button class="button is-active is-large is-light is-full-width is-full-height has-line-height-1 flex-column">
  <span class="icon is-rounded has-background-{{color}} has-text-white mx-auto mb-1">
    <i class="icon-plant"></i>
  </span>
  <span class="is-size-6">
    <small>Plant</small>
  </span>
</button>
<button class="button is-large is-light is-full-width is-full-height has-line-height-1 flex-column">
  <span class="icon is-rounded has-background-{{color}} has-text-white mx-auto mb-1">
    <i class="icon-inverter"></i>
  </span>
  <span class="is-size-6">
    <small>Inverter</small>
  </span>
</button>
<button class="button is-large is-light is-full-width is-full-height has-line-height-1 flex-column">
  <span class="icon is-rounded has-background-{{color}} has-text-white mx-auto mb-1">
    <i class="icon-string"></i>
  </span>
  <span class="is-size-6">
    <small>String</small>
  </span>
</button> -->
