{{#>bulma/components/panel/items/block block=(replace
"is-borderless is-radiusless is-size-small ###" "###" extendBlock)}}
  {{#if @partial-block}}
    {{>@partial-block}}
  {{else}}
    <div>
      <span>{{infoName}}</span>
      {{>pview/quickview/elements/uom uom=infoUom}}
      {{>bulma/elements/buttons/button-icon class="is-smallest is-text is-transparent has-text-vcentered has-tooltip-arrow on-hover--show" data-tooltip="Info" i="fas fa-info-circle is-size-7"}}
    </div>
    {{#if infoValue}}
      <span class="ml-auto has-text-weight-semibold">{{infoValue}}</span>
    {{else}}
      <p class="ml-auto has-text-opacity-40 has-text-weight-semibold">Not set</p>
    {{/if}}
  {{/if}}  
{{/bulma/components/panel/items/block}}