{{#>_commons/partial}}
  <p class="my-4">Custom Icons</p>
  {{>bulma/elements/icons/icon i="icon-decrease" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-increase" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-service-requested" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-humidity" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-rain" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-average" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-power-bi" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-co2" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-menu" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-shrink" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-expand" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-kpi" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-budget" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-availability" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-pr" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-shape" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-arrow-up" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-arrow-down" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-dancer" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-menu-open" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-weather" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-map" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-dust-sensor" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-tracker" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-string" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-plant" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-prediktor" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-grid" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-pview" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-grafana" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-bulma" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-authorisation" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-outline" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-tree" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-factory" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-portal" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-inverter" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-inverter-outlined" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-capacity" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-irradiance" icon="is-large m-2 has-background-opacity-10"}}
  {{>bulma/elements/icons/icon i="icon-solar-irradiance" icon="is-large m-2 has-background-opacity-10"}}
{{/_commons/partial}}

