{{#>_commons/partial}}
  <div class="buttons">
    {{>bulma/elements/buttons/button}}
    {{>bulma/elements/buttons/button-icon}}
    {{>bulma/elements/buttons/button-with-icon class="is-danger" i="fas fa-trash"}}
  </div>
    {{#>bulma/elements/buttons/button-addons}}
      {{>bulma/elements/buttons/button}}
      {{>bulma/elements/buttons/button-icon}}
      {{>bulma/elements/buttons/button-with-icon class="is-success" i="fas fa-check"}}
    {{/bulma/elements/buttons/button-addons}}
{{/_commons/partial}}